Node-Red/flows_raspberrypi.json
[{"id":"91fdd58b.f24f98","type":"tab","label":"Beacons","disabled":false,"info":""},{"id":"6a8542ad.d507cc","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"a6a2e8c2.77ba88","type":"ui_tab","z":"","name":"Home","icon":"dashboard"},{"id":"f61ddf5d.b6318","type":"ui_group","z":"","name":"Beacons","tab":"a6a2e8c2.77ba88","disp":true,"width":"20","collapse":false},{"id":"c04ae833.cdd488","type":"scanBeacon","z":"91fdd58b.f24f98","name":"","beacon_uuid":"","beacon_major":"","beacon_minor":"","x":268,"y":148,"wires":[["22abd7d1.c78bf8"]]},{"id":"71d9dabe.89f664","type":"inject","z":"91fdd58b.f24f98","name":"","topic":"","payload":"on","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":84,"y":107,"wires":[["c04ae833.cdd488"]]},{"id":"7712ab9b.9173c4","type":"debug","z":"91fdd58b.f24f98","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":840,"y":149,"wires":[]},{"id":"c3682320.76ec6","type":"inject","z":"91fdd58b.f24f98","name":"","topic":"","payload":"off","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":87,"y":187,"wires":[["c04ae833.cdd488"]]},{"id":"35d786ca.a2aaca","type":"function","z":"91fdd58b.f24f98","name":"get beacon list","func":"data = global.get(\"beacons\") || {beacons: {}};\n\nvar list = [];\nfor (var key in data.beacons) {\n    list.push({\n        uuid: key,\n        name: data.beacons[key].name,\n        authorized: data.beacons[key].authorized,\n        distance: ((data.beacons[key].alive === true) ? data.beacons[key].distance.slice(0).sort()[data.beacons[key].distance.length / 2] : \"unknown\"),\n        proximity: data.beacons[key].proximity\n    })\n}\n\nmsg.payload = list;\nreturn msg;","outputs":1,"noerr":0,"x":314,"y":391,"wires":[["9330f8fb.aaa148","b5656568.7d4188","fb16b236.7463b"]]},{"id":"1a2a170a.019709","type":"inject","z":"91fdd58b.f24f98","name":"1 sec","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":89,"y":391,"wires":[["35d786ca.a2aaca"]]},{"id":"b864184.c5a43e8","type":"debug","z":"91fdd58b.f24f98","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":865,"y":392,"wires":[]},{"id":"b5656568.7d4188","type":"ui_template","z":"91fdd58b.f24f98","group":"f61ddf5d.b6318","name":"Beacons","order":0,"width":"20","height":"7","format":"<script>\n    this.scope.dealWithItem = function () {\n        console.log(this.item.uuid);\n        return this.item.uuid;\n    }\n</script>\n\n<table style=\"text-align:left\" width=\"100%\">\n    <tr>\n        <th>\n            Name\n        </th>\n        <th>\n            Distance\n        </th>\n        <th>\n            Autorization\n        </th>\n    </tr>\n    <tr ng-repeat=\"item in msg.payload\">\n        \n        <td>\n            {{item.name}}\n        </td>\n        <td>\n            {{item.distance}}\n        </td>\n        <td ng-if=\"item.authorized\">\n            <md-switch ng-model=\"true\" ng-click=\"send({payload:{authorized: false, uuid:dealWithItem()}})\">\n            </md-switch>\n        </td>\n        <td ng-if=\"!item.authorized\">\n            <md-switch ng-model=\"false\" ng-click=\"send({payload:{authorized: true, uuid:dealWithItem()}})\">\n            </md-switch>\n        </td>\n    </tr>\n  \n</table>\n\n","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":586,"y":393,"wires":[["b864184.c5a43e8","75221636.6fbd78"]]},{"id":"56c3a97e.cd5d38","type":"function","z":"91fdd58b.f24f98","name":"update beacon list","func":"var uuids = {\n    '51984d70d43641cc8aac4c5d1a834fcc': 'Joe Smith',\n    '8fd77d5ae9324334975a3cf07869c338': 'Elmo Knaus',\n    'a3bb7a079c484134a9de1c6bac708a84': 'John Doe'\n    };\n\nvar keys = Object.keys(uuids);\n\nvar data = global.get(\"beacons\") || {beacons: {}};\n\nif (keys.indexOf(msg.payload.uuid) > -1) {\n    if(!data.beacons[msg.payload.uuid]) {\n        data.beacons[msg.payload.uuid] = {\n            authorized: false,\n            name: uuids[msg.payload.uuid],\n            distance: []\n        };\n    }\n    \n    if (data.beacons[msg.payload.uuid].distance.length > 15){\n        data.beacons[msg.payload.uuid].distance.shift();\n    }\n    data.beacons[msg.payload.uuid].distance.push(parseFloat(msg.payload.accuracy).toFixed(2));\n    \n    data.beacons[msg.payload.uuid].alive = true;\n    data.beacons[msg.payload.uuid].proximity = msg.payload.proximity;\n      \n    global.set(\"beacons\", data);\n}\nmsg.payload = data;\nreturn msg;","outputs":1,"noerr":0,"x":643,"y":148,"wires":[["7712ab9b.9173c4"]]},{"id":"9330f8fb.aaa148","type":"debug","z":"91fdd58b.f24f98","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":586,"y":300,"wires":[]},{"id":"22abd7d1.c78bf8","type":"json","z":"91fdd58b.f24f98","name":"","property":"payload","action":"obj","pretty":false,"x":447,"y":148,"wires":[["56c3a97e.cd5d38","f2d24196.8dc9c","7427d40f.86cbcc"]]},{"id":"eff17196.cdbe3","type":"inject","z":"91fdd58b.f24f98","name":"Clear","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":89,"y":274,"wires":[["10c6f04.01caa1"]]},{"id":"10c6f04.01caa1","type":"function","z":"91fdd58b.f24f98","name":"Reset Global","func":"global.set(\"beacons\", undefined);\nreturn msg;","outputs":1,"noerr":0,"x":242,"y":274,"wires":[[]]},{"id":"75221636.6fbd78","type":"function","z":"91fdd58b.f24f98","name":"update authorization","func":"data = global.get(\"beacons\") || {beacons: {}};\n\ndata.beacons[msg.payload.uuid].authorized = msg.payload.authorized;\n\nglobal.set(\"beacons\", data);\n\nmsg.payload = data;\nreturn msg;","outputs":1,"noerr":0,"x":827,"y":299,"wires":[[]]},{"id":"fb16b236.7463b","type":"function","z":"91fdd58b.f24f98","name":"reset distances","func":"data = global.get(\"beacons\") || {beacons: {}};\n\nfor (var key in data.beacons) {\n    data.beacons[key].alive = false;\n    data.beacons[key].proximity = \"unknown\";\n}\n\nglobal.set(\"beacons\",data);\nreturn msg;","outputs":1,"noerr":0,"x":606,"y":471,"wires":[[]]},{"id":"e8c1a2ac.5d6ce","type":"rpi-gpio out","z":"91fdd58b.f24f98","name":"","pin":"40","set":true,"level":"0","freq":"","out":"out","x":1185,"y":40,"wires":[]},{"id":"8e4a2404.b6f4d8","type":"trigger","z":"91fdd58b.f24f98","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"10","extend":true,"units":"s","reset":"","bytopic":"all","name":"","x":1024,"y":40,"wires":[["e8c1a2ac.5d6ce"]]},{"id":"5748f9a4.6fd468","type":"switch","z":"91fdd58b.f24f98","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"neq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":865,"y":40,"wires":[["8e4a2404.b6f4d8"],[]]},{"id":"f2d24196.8dc9c","type":"function","z":"91fdd58b.f24f98","name":"filter authorized beacons","func":"data = global.get(\"beacons\") || {beacons: {}};\nmsg.payload = data.beacons[msg.payload.uuid] && data.beacons[msg.payload.uuid].authorized && msg.payload.proximity === \"immediate\";\nreturn msg;","outputs":1,"noerr":0,"x":665,"y":40,"wires":[["5748f9a4.6fd468"]]},{"id":"7427d40f.86cbcc","type":"debug","z":"91fdd58b.f24f98","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":624,"y":212,"wires":[]}]